@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    box-sizing: border-box; 
    font-family: kanit;
    color: rgba(255, 255, 255, 0.774);
    
}



body {
    padding: 0;
    margin: 0;
    
}



.container {
    display: flex;
    height: 100vh;
    background-color: #1f2937;
}

.left-part {
    width: 40vw;
    height: 100vh;
    
    background: url(bgimage.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.title {
    position: relative;
    top: 14%;
    
    height: 85px;
    background-color: rgba(0, 0, 0, 0.678);
}

.title > h2 {
    letter-spacing: 2px;
    font-family: anta;
    padding-top: 19px;
    color: white;
    
    font-weight: normal;
    text-align: center;
    font-size: 40px;
}
.right-part {
   width: 60vw;
   height: 100vh;
   
   background-color: rgba(0, 0, 0, 0.521);
   
    
}

.grid-container {
    position: relative;
    left: 25px;
    
    top: 40px;
    width: 95%;
    padding: 5px;
    
    height: 95%;
    
   
}

p {
    
    font-size: 25px;
    line-height: 1.2;
}

h4 {
    margin-top: 0;
    font-size: 25px;
    font-weight: 300;
}

.grid {
    width: 99%;
    padding: 5px;
    
    height: 500px;
}

#lets {
    font-size: 25px;
    margin: 0;
}
.grid-items {
    position: relative;
    padding-top: 15px;
    
    
    
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 78px);
    height: 85%;
    gap: 15px;
    
}

label {
    
    font-size: 21px;
    color: rgb(238, 227, 227);
    cursor: pointer;
}

input {
    width: 220px;
    height: 60px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.568);
    outline: none;
    border: none;
    font-size: 17px;
    
    padding: 10px;
    
}

input:focus {
    border: 0.3px solid blue;
}
input:valid {
    border: 1px solid green;
}
input:invalid {
    border: 1px solid red;
}
.grid-items > div {
    display: flex;
    gap: 3px;
    flex-direction: column;
}

hr {
  height: 0.5px; /* Set the height of the hr */
  border: none; /* Remove the default border */
  background-color: rgba(1, 0, 7, 0.842); /* Set the color of the hr */
  position: relative;
  
  top: -28%; 
}

.sign-up {
    position: relative;
    top: -21%;
    padding-top: 4px;
    padding-left: 32px;
    
    
}

#btn {
    color: rgb(0, 17, 255);
    height: 60px;
    font-size: 23px;
    position: relative;
    top: 36%;
    cursor: pointer;
    width: 210px;

    border: 1px solid rgb(0, 17, 255);
    background-color: rgba(255, 228, 196, 0);
    transition: background-color 0.3s ease;
}

#p {
    color: white;
    
    font-size: 20px;
}

#btn:hover {
    background-color: rgb(11, 27, 248);
    border: 1px solid rgb(11, 27, 248);
    color: rgba(255, 255, 255, 0.774);
}

a {
    
    color: rgb(172, 224, 204);
}
